/* src/styles/Button.css */
.custom-button {
    background-color: var(--highlight-orange);
    color: var(--font-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
    background-color: var(--highlight-yellow);
    transform: scale(1.05);
}

